.hoverable:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.ind_page {
    transition: transform 0.5s linear;
    width: 50%;
    max-width: 100%;
    max-height: 100%;
}

.parent {
    height: 1500px;
    width: 100vw;
}

.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.parent_image {
    margin-top: 220px;
    justify-content: center;
    display: flex;
}

.select_path {
    transition: transform 0.5s linear;
    display: inline-block;
    position: absolute;
    width: 50%;
    height: auto;
}

.small_select_path {
    transition: transform 0.5s linear;
    /* display: inline-block; */
    position: absolute;
    width: 35%;
    height: auto;
}

.path1 {
    fill: none;
    stroke-opacity: 0;
    stroke: black;
    pointer-events: all;
}

.path1:hover {
    fill: black;
}
