.hoverable:hover {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.ind_page {
    transition: transform 0.5s linear;
    width: 50%;
    max-width: 100%;
    max-height: 100%;
}

.ind_page_rotate {
    transition: transform 0.5s linear;
}

.parent {
    height: 1500px;
    width: 100vw;
}

.parent_image {
    margin-top: 220px;
    justify-content: center;
    display: flex;
}
